[Desktop Entry]
Name=Biro-Hero
GenericName=Biro Hero
Comment=Army men game on paper
Exec=biro-hero.sh
Icon=io.github.smcameron.biro-hero.svg
Terminal=false
Type=Application
Categories=Game;
